# PlatformIO build directories and caches
.pio/
.pioenvs/
.piolibdeps/

# Arduino IDE compilation outputs & temporary files
build/
bin/
out/
*.hex
*.elf
*.eep

# Local editor preferences
.vscode/
.idea/
*.swp
.DS_Store